<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Hub | Home</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="main">
        <header>
            <h1>Writing Hub (Name Pending)</h1>
            <p id="page-summary">Welcome to the [Writing Hub]! ** put a better summary here **</p>
            <a href="/request">Make a Request</a>
        </header>
        <div class="section">
            
            <h2>Requests</h2>
            
            <% for (let i = 0; i < data.length; i++){ %>
                <div class="request">
                    <h3><%= data[i].title %></h3>
                    <p>Request: <%= data[i].content %> </p>
                    <% if (data[i].author.trim() == ''){ %>
                        <p class="anon-author">Author: Anonymous</p>
                    <% } else { %>
                        <p>Author: <%= data[i].author %> </p>
                    <% } %>
    
                    <button class='interested-button'>Interested</button>
                    <button class='uninterested-button'>Uninterested</button>
                    <button class="claim-button">Claim</button>

                    <hr>
                    
                </div>
            <% } %>
        </div>
    </div>

    
</body>
</html>