<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Hub | Make a Request</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="main">
        <header>
            <h1>Submitted Request: Successful</h1>
            <a href="/">Back to Home</a>
            <a href="/request">Make Another Request</a>
        </header>
        <div class="section">
            <p>Title: <%= data.title %></p>
            <p>Request: <%= data.content %> </p>
            <% if (data.author.trim() == ''){ %>
                <p>Author: Anonymous</p>
            <% } else { %>
                <p>Author: <%= data.author %> </p>
            <% } %>
        </div>
    </div>
    
</body>
</html>